    	<form action="#" method="post">
			<div id="beername" data-role="fieldcontain">
            	<span id="beerlabel">{{ beername }}</span>
            </div>	
	        <div id="brewername">{{ brewername }}</div>
	        <div id="brewerlocation">{{ brewerlocation }}</div>
	        <div id="beerstyle">{{ beerstyle }}</div>
			<hr>
	        <div id="quantity" data-role="fieldcontain">
				<label for="quantityslider">Quantity:</label>
				<input type="range" name="quantityslider" id="quantityslider" value="{{ quantity }}" min="0" max="25"  />
			</div>
	        <div id="purchasedate" data-role="fieldcontain">
    	    	<label for="purchasedatefield">Purchase Date:</label>
                <input type="date" name="purchasedatefield" id="purchasedatefield" value="{{ purchaseDate }}"  />
			</div>
	        <div id="price" data-role="fieldcontain"><input type="text" value="{{ price }}"></div>
	        <div id="cellardate" data-role="fieldcontain">
    	    	<input type="date" name="cellarfield" id="cellardatefield" value="{{ cellarDate }}"  />
			</div>
    	    <div id="cellartemp">Cellar Temperature: {{ cellarTemperature }}</div>
	        <div id="brewdate" data-role="fieldcontain">
    	    	<input type="date" name="brewdatefield" id="brewdatefield" value="{{ brewDate }}"  />
	        </div>
			<a href="#pintley">This beer on Pintely</a>
	        <button type="submit" data-theme="a">Submit</button>
        </form>